
    <header>

      <!-- Nav Bar -->
      <nav id="navbar" class="navbar navbar-light navbar-expand-sm {% if site.navbar_fixed %}fixed-top{% else %}sticky-top{% endif %}">
        <div class="container">
          <a class="navbar-brand title font-weight-lighter" href="{{ site.baseurl }}/">
            {%- if site.title == "blank" -%}
              {%- if site.first_name -%}
                <span class="font-weight-bold">{{- site.first_name -}}&nbsp;</span>
              {%- endif -%}
              {%- if site.last_name -%}
                {{- site.last_name -}}
              {%- endif -%}
            {%- else -%}
              {{- site.title -}}
            {%- endif -%}
          </a>

          <!-- Hamburger toggle (shown on narrow screens) -->
          <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#nav-menu" aria-controls="nav-menu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="icon-bar top-bar"></span>
            <span class="icon-bar middle-bar"></span>
            <span class="icon-bar bottom-bar"></span>
          </button>

          <div class="collapse navbar-collapse" id="nav-menu">
            <ul class="navbar-nav ml-auto site-nav">
              {%- assign current = page.url -%}
              <li class="nav-item">
                <a class="nav-link {% if current == '/' %}active{% endif %}" href="{{ '/' | relative_url }}">about</a>
              </li>
              <li class="nav-item">
                <a class="nav-link {% if current contains '/projects' %}active{% endif %}" href="{{ '/projects/' | relative_url }}">projects</a>
              </li>
              <li class="nav-item">
                <a class="nav-link {% if current contains '/resume' %}active{% endif %}" href="{{ '/resume/' | relative_url }}">resume</a>
              </li>
              <li class="nav-item">
                <a class="nav-link {% if current contains '/blog' %}active{% endif %}" href="{{ '/blog/' | relative_url }}">blog</a>
              </li>
              {%- if site.enable_darkmode %}
              <li class="toggle-container">
                <button id="light-toggle" title="Change theme">
                  <i class="fas fa-moon"></i>
                  <i class="fas fa-sun"></i>
                </button>
              </li>
              {%- endif %}
            </ul>
          </div>
        </div>
      </nav>
    </header>
