
    <header>

      <!-- Nav Bar -->
      <nav id="navbar" class="navbar navbar-light navbar-expand-sm {% if site.navbar_fixed %}fixed-top{% else %}sticky-top{% endif %}">
        <div class="container">
          <a class="navbar-brand title font-weight-lighter" href="{{ site.baseurl }}/">
            {%- if site.title == "blank" -%}
              {%- if site.first_name -%}
                <span class="font-weight-bold">{{- site.first_name -}}&nbsp;</span>
              {%- endif -%}
              {%- if site.last_name -%}
                {{- site.last_name -}}
              {%- endif -%}
            {%- else -%}
              {{- site.title -}}
            {%- endif -%}
          </a>
          <div class="ml-auto">
            <ul class="navbar-nav flex-nowrap">
              {%- if site.enable_darkmode %}
              <li class="toggle-container">
                <button id="light-toggle" title="Change theme">
                  <i class="fas fa-moon"></i>
                  <i class="fas fa-sun"></i>
                </button>
              </li>
              {%- endif %}
            </ul>
          </div>
        </div>
      </nav>
{% if site.enable_progressbar %}
      <!-- Scrolling Progress Bar -->
      <progress id="progress" value="0">
        <div class="progress-container">
          <span class="progress-bar"></span>
        </div>
      </progress>
{%- endif %}
    </header>
