---
layout: default
title: blog
---

<div class="blog-page">
  <h2 class="section-heading">blog</h2>

  {% if site.display_tags %}
  <div class="blog-tags">
    {% for tag in site.display_tags %}
      <a href="{{ tag | slugify | prepend: '/blog/tag/' | relative_url }}">#{{ tag }}</a>
    {% endfor %}
  </div>
  {% endif %}

  {%- assign all_posts = site.posts -%}
  {%- if all_posts.size > 0 -%}
  <div class="blog-list">
    {%- for post in all_posts %}
    <a class="blog-list-item" href="{{ post.url | relative_url }}">
      <span class="accordion-meta blog-date">{{ post.date | date: "%b %Y" }}</span>
      <span class="accordion-title">{{ post.title }}</span>
      {%- if post.description %}
      <span class="accordion-meta">{{ post.description }}</span>
      {%- endif %}
    </a>
    {%- endfor %}
  </div>
  {%- else -%}
  <p>No posts yet.</p>
  {%- endif %}
</div>
